body {
  margin-bottom: 0px;
  background-color: #f7f7f7;
}

.row {
  margin-left: 0px;
}

.language {
  margin-bottom: 5px;
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  display: inline;
}

button {
  margin: 0px 5px 0px 0px;
}

.page {
  width: 90%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  border-style: solid;
  border-color: #e3e3e3;
  border-width: thin;
  padding: 10px;
  padding-bottom: 0px;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.16);
}

.header {
  display: flex;
  align-items: center;
}

.speech {
  margin-bottom: 5px;
  font-size: 18px;
  padding-right: 0px
}

.cv {
  width: 100%;
  display: flex;
}

.workAssociative {
  text-align: right;
  /* max-width: 45% */;
  padding: 0% 2%;
}

.skillsStudies {
  text-align: left;
  padding: 0% 2%;
}

h1 {
  color: #f59628;
  font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 90px;
  margin: 0px 3px;
}

h2 {
  color: #f59628;
  font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif ;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 36px;
}

h3 {
  font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif;
  text-transform: uppercase;
  border-style: solid;
  border-width: 5px 0px;
  border-color: #f59628;
  text-align: center;
  padding: 6px 0px;
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
}

p {
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  flex-wrap: wrap;
}

a {
  font-family: 'Noto Serif', 'Times New Roman', Times, serif;
  text-decoration: underline;
  color: black;
}

.intro {
  font-weight: bold;
  font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif;
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 20px;
}

.dot {
  color: #979797;
  margin-left: 5px;
}

.subtitle {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 2px;
}

.jobTask {
  font-weight: bold;
}

.verticalHr {
  background-color: #f59628;
  width: 2px;
  margin: 2% 0%;
}

.contactInfo {
  display: flex;
  align-items: baseline;
}

.content {
  margin-bottom: 5px;
  margin-top: 0px
}

i {
  margin-right: 8px;
}

.footer {
  background-color: #f59628;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  color: white;
  font-size: 30px;
  padding: 10px;
  width: 80%;
  font-family: 'Oswald', 'Trebuchet MS', Helvetica, sans-serif;
}

.country {
  color: #979797;
}

@media only screen and (max-width: 500px) {
    .verticalHr {
      display:none;
    }
    
    .workAssociative {
      text-align: left;
    }
}